{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center">Add a Blog Entry</h1>
<form action="/newpost" method="post">
    
            
            <label for="title">Title for your new blog: </label></br>
            <input style="width: 100px" type ="text" name="title" value='{{request.form['title']}}'>
            <span class="error">{{error}}</span>
            </br>
            </br>
            </br>
            <label  for="body"> Your new blog: </label></br>
            <textarea style="height:100px; width:200px" type="text" name="body">{{request.form['body']}}</textarea>
            <span class="error">{{error_too}}</span>
            <p><input type="submit" value="Add Entry"/></p>
            
       
</form>





{% endblock %}